@media (max-width: 800px){
	.current-position, .pinned-list{
        grid-template-columns: 1fr;
    }

    .square-btn{
        height: 36px;
    }

    .first-block .section_title{
        margin-right: 0;
    }

    .first-block{
        justify-content: space-between;
    }
}

@media (max-width: 560px){
    form{
        width: 100%;
    }

    #search-field{
        min-width: none;
        width: calc(100% - 43px);
    }
}

@media (max-width: 460px){

    .square-btn>span{
        display: none;
    }

    .square-btn{
        padding: 0;
        height: 36px;
        width: 36px;
    }

    .fa-sync-alt{
        display: block;
        font-size: 26px;
    }
}

@media (max-width: 410px){
    .current-weather{
        font-size: 25vw;
    }
}

@media (max-width: 380px){
    .card-header>div{
        display: block;
        flex-wrap: wrap;
    }
}